body {
    font: 100% Verdana;
    margin: 20px;
    line-height: 26px;
    background-image: linear-gradient(to right, black, rgba(255, 0, 0, 1));
}

* {
    color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-around;

    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

p {
    font-weight: 500;
    padding-left: 2%;
}

h1,
h2,
h3 {
    margin-top: 10;
    color: whitesmoke;
}

.binomial {
    padding: 50px;
}

.form-control {
    display: block;
    width: 50%;
}