body {
  font: 100% Verdana;
  margin: 20px;
  line-height: 26px;
  background-image: linear-gradient(to right, black, rgba(255, 0, 0, 1));
}

h1 {
  display: flex;
  justify-content: space-around;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}

h1,
h2,
h3 {
  color: whitesmoke;
}

a:link,
a:visited {
  background-color: #04AA6D;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #ffd700;
  color: gray;
  text-decoration: none;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

/* Create three equal columns that sits next to each other */
.column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px;
}

.span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f3981a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bbutton:hover span {
  padding-right: 25px;
}

.bbutton:hover span:after {
  opacity: 1;
  right: 0;
}